<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Room</title>
</head>
<body>
{% include "header.html" %}
<!-- Hotel Name: {{ room.get_hotel().hotel_name }} TODO: FIX THIS--> 
<br>

<form method="POST">
    Price: <input name ="price" type="number" min="0" required>
    Capacity: <input name ="capacity" type="number" size="5" min="1" required>
    View: <input name ="view" type="text" required>
    Amenities: <input name ="amenities" type="text" value="{{amenities if amenities else 'None'}}">
    Problems: <input name ="problems" type="text" value="{{problems if problems else 'None'}}">
    Extendable: <select name="extendable" id="extendable">
        <option value="True">Yes</option>
        <option value="False" selected>No</option>
    </select>
    <button type="submit">Submit</button>
</form>
</body>
</html>