<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method = "POST">
        <div style = font-size:30px>
            Contact Information
        </div>

        <br>
        First Name: <input name="first_name"  type="text" size="5  " required>
        <br>
        <br>
        Last Name: <input name="last_name" type="text" size="5  " required>
        <br>
        <br>
        Password: <input name="password" type="password" required>
        <br>
        <br>
        SIN: <input name="sin" type="password" required>
        <br>
        <br>
        <div style = font-size:30px>
            Address
        </div>
        <br>

        Street: <input name="street" type="text" size="5  ">
        <br>
        <br>
        City: <input name="city" type="text" size="5  ">
        <br>
        <br>
        Postal Code: <input name="postal_code" type="text" size="5  ">
        <br>
        <br>
        Country: <input name="country" type="text" size="5  ">
        <br>
        <br>
        Chain and Hotel Name:
        <select name="chain_name_hotel_name">
            {% for hotel in hotels %}
            <option value="{{ hotel[2]}}">{{ hotel[0] + ", " + hotel[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit">Submit</button>

    </form>
</div>
</body>
</html>