<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form>
        <div style = font-size:30px>
            Contact Information
        </div>

        <br>
        First Name: <input name="first_name"  type="text" size="5  ">
        <br>
        <br>
        Last Name: <input name="last_name" type="text" size="5  ">
        <br>
        <br>
        Password: <input name="password" type="password">
        <br>
        <br>
        SIN: <input name="sin" type="password">
        <br>
        <br>
        <div style = font-size:30px>
            Address
        </div>
        <br>

        Street: <input name="street" type="text" size="5  ">
        <br>
        <br>
        City: <input name="city" type="text" size="5  ">
        <br>
        <br>
        Postal Code: <input name="postal_code" type="text" size="5  ">
        <br>
        <br>
        Country: <input name="country" type="text" size="5  ">
        <br>
        <br>
        Chain Name:
        <select name="chain_name">
            <option value="for_test_chain">for test chain</option>
        </select>
        <br>
        <br>
        Hotel Name:
        <select name="hotel_name">
            <option value="for_test_hotel">for test hotel</option>
        </select>

    </form>
</div>
</body>
</html>