<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "header.html" %}
<form method="POST">
{#    Hotel_id: <input name="hotel_id" type="text" value="{{ customer["hotel_id"] }}">#}
{#    <br>#}
    First_name: <input name="first_name" type="text" value="{{ customer["first_name"] }}">
    <br><br>
    Last_name: <input name="last_name" type="text" value="{{ customer["last_name"] }}">
    <br><br>
    Password: <input name="password" type="password" value="{{ customer["password"] }}">
    <br><br>
    SIN: <input name="SIN" type="text" value="{{ customer["SIN"] }}" readonly>
    <br><br>
    Street: <input name="street" type="text" value="{{ customer["street"] }}">
    <br><br>
    City: <input name="city" type="text" value="{{ customer["city"] }}">
    <br><br>
    Postal_code: <input name="postal_code" type="text" value="{{ customer["postal_code"] }}">
    <br><br>
    Country: <input name="country" type="text" value="{{ customer["country"] }}">
    <br><br>
    <button type="submit">Update</button>
</form>
<br>
<a href="{{ url_for("delete_account") }}" style="color: red">Delete Account</a>
</body>
</html>