<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Hotels</title>
</head>
<body>
{% include 'header.html' %}
<div>
    <form method="POST">
        Area: <select name="area">
        <option value=""></option>
        {% for a in areas %}
            <option value="{{ a }}" {{ "selected" if a == area }}>{{ a }}</option>
        {% endfor %}
    </select>
        <br>
        <br>
        Hotel Stars:
        <select name="hotel_stars">
            <option value="none"></option>
            <option value="1" {{ "selected" if hotel_stars == 1 }}>1</option>
            <option value="2" {{ "selected" if hotel_stars == 2 }}>2</option>
            <option value="3" {{ "selected" if hotel_stars == 3 }}>3</option>
            <option value="4" {{ "selected" if hotel_stars == 4 }}>4</option>
            <option value="5" {{ "selected" if hotel_stars == 5 }}>5</option>
        </select>
        <br>
        <br>
        <!-- Number of rooms in hotel: <input name="num_rooms_in_hotel" type="number" min="0"
                                         value="{{ num_rooms_in_hotel if num_rooms_in_hotel else "" }}"> -->
        <br>
        <br>
        <button type="submit">Search</button>
    </form>
</div>
<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid;
        padding: 3px;
    }
</style>
<h3>List of Hotels:</h3>
<table>
    <tr>
        <th>Hotel Chain</th>
        <th>Hotel Name</th>
        <th>Area</th>
        <th>Number of rooms in hotel</th>
        <th>Hotel Stars</th>
        <th>Edit Hotel</th>
    </tr>
    {% for hotel in hotels %}
        <tr>
            <td>{{ hotel.chain_name}}</td>
            <td>{{ hotel.hotel_name }}</td>
            <td>{{ hotel.city + ", " + hotel.country }}</td>
            <td>{{ hotel.get_num_rooms() }}</td>
            <td>{{ hotel.star_num }}</td>
            <td>
                <a href="{{ url_for("edit_hotel", hotel_id=hotel.hotel_id) }}">Edit Hotel</a>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<a href="{{ url_for("delete_chain") }}" style="color: red">Delete Hotel Chain</a>
</body>
</html>